* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  padding: 60px;
  background-color: #708090;
}

input {
  font-size: 1.2rem;
  width: 100%;
  color: black;
  border: none;
  border-radius: 10px;
  background:#DCDCDC;
  outline: none;
}

.category-form{
  width: 270px;
  justify-content: flex-start
}

.grid-container {
  padding: 40px;
  justify-content: center;
  align-items: center;
  display: grid;
}

.card-grid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

.card {
  align-content: center;
  border: 1px solid grey;
  border-radius: 6px;
  margin-bottom: 10px;
  margin-right: 10px;
  overflow: hidden;
  text-align: center;
  width: 150px;
}

.card p {
  padding: 5px;
  text-align: center;
}

.card img{
  max-height: 170px;
}

.card-category {
  background-color: #DCDCDC;
  border:none;
  font-size: 1.5rem;
} 

.card-category-p {
  font-size: 3rem;
}

.card-item{
  color:white;
  border: none;
}

.appHeader{
  font-size: 2.5rem;
  color: white;
}

.spanHeader {
  color: black;
}

.label-category{
  cursor: pointer;
}

@media (min-width:780px) {
    .category-form{
      width: 400px;
    }
}